body {
  font-family: 'OFL Sorts Mill Goudy TT', Georgia, serif;
  color: #323232;
  background-color: #F7F7F7;
  padding: 0;
  margin: 0;
}

body, td {
  font-size: 12px;
}

a img {
  border: none;
}

#outer {
  width: 700px;
  margin: auto;
  padding: 20px;
}

#main {
  background-color: white;  
  padding: 10px 20px;
  margin-top: 30px;
}

#form {
  width: 70%;
  float: left;
}

#surveys {
  width: 150px;
  float: right;
  list-style: none;
}

#surveys li {
  margin: 5px;
}

#surveys a {
  color: red;
}

#surveys a:hover {
  color: black;
}

.clear {
  clear: both;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#header {
  text-align: center;
}

h1 {
  font-size: 2.5em;
  font-weight: normal;
  margin-bottom: 0;
  color: #666666;
}

#header a h1 {
  font-weight: bold;
  color: black;
}

#header a {
  text-decoration: none;
}

h1 b {
  color: black;
}

.examples {
  color: gray;
  font-style: italic;
}

#survey_what, #survey_description, #suggestion_name {
  font-size: 2.5em;
  font-family: 'OFL Sorts Mill Goudy TT', Georgia, serif;
  width: 100%;
}

#survey_submit, #suggestion_submit {
  display: block;
  margin: 20px 0;
  text-align: right;
  font-size: 2.5em;
}

table#suggestions {
    width: 100%;
    padding-top: 2em;
}

#suggestions td {
  font-size: 1.8em;
}

#suggestions td.name {
  display: block;
  padding: 3px 0;
  margin: 0 6px 10px 0;
}

#suggestions .info {
  text-align: right;
}

#suggestions .domains {
    font-size: 0.7em;
    padding-bottom: 10px;
    border-bottom: 1px solid #EEE;
    
}

ul#suggestions li span {
  line-height: 1.5em;
  margin-right:0.5em;
}

#suggestions .info a {
  display:inline-block;
  background-color:#fff;
  border:1px solid #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  text-decoration:none;
  height:2em;
  padding: 0 10px;
    margin-left: 10px;
  line-height:2;
  text-align:center;
  color:#000;
}

ul#suggestions .domains {
  margin-top: 3px;
  border-bottom: 1px dashed #ccc;
}

#flash {
  background-color: yellow;
  color: black;
  padding: 6px;
  margin: 20px 0;
}

.share, .create_new {
  margin-top: 30px;
}