body {
  font-family: 'OFL Sorts Mill Goudy TT', Georgia, serif;
  color: #323232;
  background-color: #F7F7F7;
  padding: 0;
  margin: 0;
}

#outer {
  width: 700px;
  margin: auto;
  padding: 20px;
}

#main {
  background-color: white;  
  padding: 10px 20px;
  margin-top: 30px;
}

#form {
  width: 70%;
  float: left;
}

#surveys {
  width: 150px;
  float: right;
  list-style: none;
}

#surveys li {
  margin: 5px;
}

#surveys a {
  color: red;
}

#surveys a:hover {
  color: black;
}

.clear {
  clear: both;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#header {
  text-align: center;
}

h1 {
  font-size: 2.5em;
  font-weight: normal;
  margin-bottom: 0;
  color: #666666;
}

h1 b {
  color: black;
}

.examples {
  color: gray;
  font-style: italic;
}

#survey_what, #survey_description, #suggestion_name {
  font-size: 2.5em;
  font-family: 'OFL Sorts Mill Goudy TT', Georgia, serif;
  width: 100%;
}

#survey_submit, #suggestion_submit {
  display: block;
  margin: 20px 0;
  text-align: right;
  font-size: 2.5em;
}

ul#suggestions {
  list-style: none;
}

ul#suggestions li {
  font-size: 2.5em;
  display: block;
  background-color: #EEE;
  border-radius: 3px;
  padding: 3px 6px;
  margin: 0 6px 10px 0;
  line-height: 1.5em;
}

ul#suggestions li div {
  float:right;
  font-size:0.4em;
}

ul#suggestions li span {
  font-size:1.5em;
  margin-right:0.5em;
}

ul#suggestions li div a {
  display:inline-block;
  background-color:#fff;
  border:1px solid #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  text-decoration:none;
  width:2em;
  height:2em;
  padding:0;
  line-height:2;
  text-align:center;
  color:#000;
}

#flash {
  background-color: yellow;
  color: black;
  padding: 6px;
  margin: 20px 0;
}

.share, .create_new {
  margin-top: 30px;
}